/* Add application styles & imports to this file! */
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: black;
}

.heading-background {
  position: relative;
  display: inline-block;
  padding: 0 10px;
  background: linear-gradient(
    90deg,
    #45a0e6,
    #87ceeb,
    #6495ed,
    #4682b4,
    #56b3fa
  );
  background-size: 600% 100%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  animation: gradientAnimation 10s ease infinite;
}

.heading-background::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    90deg,
    #45a0e6,
    #87ceeb,
    #6495ed,
    #4682b4,
    #56b3fa
  );
  background-size: 600% 100%;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
  animation: gradientAnimation 10s ease infinite;
}

.heading-background:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


/* HTML:loader */
.center{
  height:100vh;  
  display:flex;
  justify-content:center;
  align-items:center;
}

.loader {
  width: 44.8px;
  height: 44.8px;
  color: #554cb5;
  position: relative;   
  background: radial-gradient(11.2px,currentColor 94%,#0000);
}

.loader:before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 50%;
  background: radial-gradient(10.08px at bottom right,#0000 94%,currentColor) top    left,
          radial-gradient(10.08px at bottom left ,#0000 94%,currentColor) top    right,
          radial-gradient(10.08px at top    right,#0000 94%,currentColor) bottom left,
          radial-gradient(10.08px at top    left ,#0000 94%,currentColor) bottom right;
  background-size: 22.4px 22.4px;
  background-repeat: no-repeat;
  animation: loader 1.5s infinite cubic-bezier(0.3,1,0,1);
}

@keyframes loader {
  33% {
    inset: -11.2px;
    transform: rotate(0deg);
  }

  66% {
    inset: -11.2px;
    transform: rotate(90deg);
  }

  100% {
    inset: 0;
    transform: rotate(90deg);
  }
}